anyio==4.13.0
argcomplete==3.6.3
asgiref==3.11.1
asttokens==3.0.1
Beaker==1.12.1
beautifulsoup4==4.14.3
blivet==3.13.2
Brlapi==0.8.7
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
comm==0.2.3
crypt_r==3.13.1
cryptography==49.0.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
debugpy==1.8.20
decorator==5.2.1
distro==1.9.0
Django==6.0.6
dnf==4.24.0
executing==2.2.1
fedora-third-party==0.10
file-magic==0.4.0
greenlet==3.5.2
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httpx==0.28.1
humanize==4.15.0
idna==3.11
ipykernel==7.2.0
ipython==9.12.0
ipython_pygments_lexers==1.1.1
iso639==0.1.4
jedi==0.19.2
jupyter_client==8.8.0
jupyter_core==5.9.1
langtable==0.0.71
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.2.1
libvirt-python==12.0.0
louis==3.33.0
lxml==6.1.1
Mako==1.2.3
Markdown==3.10.2
MarkupSafe==3.0.2
matplotlib-inline==0.2.1
meson==1.11.1
mysql-connector==2.2.9
mysql-connector-python==9.6.0
nest-asyncio==1.6.0
nftables==0.1
numpy==2.4.6
olefile==0.47
packaging==25.0
pandas==3.0.3
parso==0.8.6
Paste==3.10.1
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.2.0
pip==26.0.1
platformdirs==4.9.6
productmd==1.50
prompt_toolkit==3.0.52
psutil==7.2.2
psycopg2-binary==2.9.11
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycrypto==2.6.1
pycups==2.0.4
pyenchant==3.3.0
Pygments==2.20.0
PyGObject==3.56.3
pyinotify==0.9.6
pykickstart==3.69
PyMySQL==1.1.2
pyOpenSSL==26.1.0
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-linux-procfs==0.7.4
python-meh==0.52
python-pam==2.0.2
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
pyzmq==27.1.0
RapidFuzz==3.14.3
regex==2026.5.9
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
rpm==6.0.1
selinux==3.10
sepolicy==3.10
setools==4.6.0
setuptools==80.10.2
simpleline==1.9.0
six==1.17.0
sos==4.11.2
soupsieve==2.8.3
SQLAlchemy==2.0.51
sqlparse==0.5.5
stack-data==0.6.3
systemd-python==235
tornado==6.5.5
traitlets==5.14.3
typing_extensions==4.15.0
urllib3==2.7.0
wcwidth==0.6.0
xkbregistry==0.3
